.results {
  width: 30.125rem;
  text-align: center;

  & .number-results {
    height: 15rem;
  }
}

.number-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box {
  width: 6.25rem;
  height: 5.25rem;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  position: relative;
}

.spinner-box {
  width: 6.25rem;
  height: 5.25rem;
  position: absolute;
  background-color: var(--background-brand);
  border-radius: 10px;
  animation: boxAnim ease-in-out 2s both;
  z-index: 1;
}

.number {
  font: var(--number);
  opacity: 1;
  position: absolute;
  color: var(--content-inverse);
  transform: rotate(0deg);
  z-index: 2;
  
  animation: numberColorAnim 2.2s both;
}
@keyframes boxAnim {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 0;
    background-color: transparent;
  }
  20% {
    transform: scale(1.1) rotate(0deg);
    background-color: transparent;
  }
  40% {
    transform: scale(1.1) rotate(0deg);
    background-color: var(--background-brand);
  }
  80% {
    transform: scale(1.1) rotate(360deg);
  }
  90% {
    background-color: var(--background-brand);
  }
  100% {
    transform: scale(1) rotate(360deg);
    background-color: transparent;
    opacity: 1;
  }
}

.box:nth-child(1) .number {
  animation-delay: 0s, 2.2s;
}
.box:nth-child(2) .number {
  animation-delay: 2.5s, 4.7s;
}

@keyframes showNumber {
  to {
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes numberColorAnim {
  0%, 90% {
    color: var(--content-inverse); /* cor inicial do número */
  }
  100% {
    color: var(--background-brand); /* cor final do número */
  }
}


@media (width <= 80em) {
  .results {
    width: 20.125rem;
    margin-top: 2.5rem;
  }
}
